@import '@assets/scss/mixins.scss';

.tree {
    width: 70vw;
    max-width: 70vh;
    height: 70vw;
    max-height: 70vh;
    position: relative;
    /* left: 1200px; */
    top: -35%;
    transform: translate(-50%, -50%);
    will-change: transform;
    backface-visibility: hidden;

    @media (min-width: 1000px) and (min-height: 768px) {
        top: -20%;
    }

    @media (min-width: 1000px) and (max-width: 1199px) {
        //left: 800px;
        top: -20%;
    }

  /*    @include screen-size(phone-only) {    
      font-size: 1rem; 
    }
    @include screen-size(tablet-portrait-up) {    
        font-size: 1rem; 
     } */
     @include screen-size(tablet-landscape-up) {    
        left: 900px;
     }
     @include screen-size(desktop-up) {    
        left: 950px;
     }
     @include screen-size(big-desktop-up) {    
        left: 1500px;
     }

/*     @media (min-width: 1000px) and (min-height: 768px) {
        top: -20%;
    }

    @media (min-width: 1000px) and (max-width: 1199px) {
        left: 800px;
        top: -20%;
    }

    @media (min-width: 1200px) and (max-width: 1399px) {
        left: 800px;
    }

    @media (min-width: 1400px) {
        left: 1000px;
    }

    @media (min-width: 1600px) {
        left: 1200px;
    }

    @media (min-width: 1800px) {
        left: 1400px;
    } */
}

.trunk {
    /* width: 40px; */
    height: 640px;
    width: 640px;
    position: relative;
    z-index: 1;
    background-image: url('../assets/images/tree_5_compressed.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    /* margin-top: 150px; */
    /* transform: scale(.8); */
}

.leaves {
    /* background-color: red;
    height: 20px;
    transform: scale(.8);
    top: 0px;
    position: absolute;
    width: 100%;
    z-index: 11; */
}

.leaf {
    width: 100px;
    height: 100px;
    position: absolute;
    transform-origin: bottom center;
    z-index: 2;
    background-size: cover;
    background-repeat: no-repeat;
    mask-image: url('../assets/images/leaf1.png');
    mask-repeat: no-repeat;
    mask-size: cover;
    /* Or contain, depending on the desired fit */
    -webkit-mask-image: url('../assets/images/leaf1.png');
    /* For Safari */
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    font-size: 32px;

    &:hover {
        filter: hue-rotate(0Deg);
        cursor: pointer;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        font-size: 38px;
        -moz-box-shadow: 13px 13px 0px 0px #FFFFFF;
        -webkit-box-shadow: 13px 13px 0px 0px #FFFFFF;
        box-shadow: 13px 13px 0px 0px #FFFFFF;

        img {
            opacity: 1;
        }
    }

    &.ver2 {
        mask-image: url('../assets/images/leaf2.png');
        -webkit-mask-image: url('../assets/images/leaf2.png');
        /* For Safari */
    }

    &.ver2-stroke {
        mask-image: url('../assets/images/leaf2_stroke.png');
        -webkit-mask-image: url('../assets/images/leaf2_stroke.png');
        /* For Safari */
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .45;


    }

    &.large {
        display: flex;
        justify-content: center;
        align-items: center;

        .text {
            position: absolute;
            z-index: 3;
            color: #fff;
            font-family: 'FingerPaint', sans-serif;
        }

    }
}

.mask-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/images/leaf1.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
    /* Ensure the mask overlay is on top */
    pointer-events: none;
    /* Ensure the overlay does not interfere with mouse events */
}

.ver1 {
    background-image: url('../assets/images/leaf1.png');
    transition: width 0.1s, height 0.1s;

    &.large:hover {
        width: 205px;
        height: 205px;
    }
}

.ver2 {
    background-image: url('../assets/images/leaf2.png');
    transition: width 0.1s, height 0.1s;

    &.large:hover {
        width: 240px;
        height: 240px;
    }
}

.ver1-stroke {
    background-image: url('../assets/images/leaf1_stroke.png');
    transition: width 0.1s, height 0.1s;

    &.large:hover {
        width: 205px;
        height: 205px;
    }
}

.ver2-stroke  {
    background-image: url('../assets/images/leaf2_stroke.png');
    transition: width 0.1s, height 0.1s hi;

    &.large:hover {
        width: 216px;
        height: 260px;
    }
}

/* Individual leaves */
.leaf1 {
    top: 10px;
    left: 20px;
    transform: rotate(-10deg);

    /* Image for leaf 1 */
}

.leaf2 {
    top: -40px;
    left: 150px;
    transform: rotate(310deg);
    width: 100px;
    height: 100px;
}

.leaf3 {
    top: -35px;
    left: 250px;
    transform: rotate(-20deg);
}

.leaf4 {
    top: 135px;
    left: 490px;
    transform: rotate(375deg);
    width: 133px;
    height: 133px;
}

.leaf5 {
    top: 125px;
    left: -10px;
    transform: rotate(-35deg);
    width: 200px;
    height: 200px;
    filter: hue-rotate(288deg);

    img,
    div {
        transform: rotate(35deg);
    }
}

.leaf6 {
    top: 320px;
    left: 90px;
    transform: rotate(-5deg);
    width: 60px;
    height: 60px;
}

.leaf7 {
    top: 5px;
    left: 400px;
    transform: rotate(70deg);
    /* Image for leaf 1 */
}

.leaf8 {
    top: -80px;
    left: 145px;
    transform: rotate(340deg);
    width: 236px;
    height: 236px;
    filter: hue-rotate(68deg);

    img,
    div {
        transform: rotate(-340deg);
        width: 110%;
        height: 110%;
        margin-left: -20px;
        margin-top: -10px;
    }

    .text {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.leaf9 {
    top: 80px;
    left: 285px;
    transform: rotate(790deg);
    width: 200px;
    height: 200px;
    filter: hue-rotate(294deg);



    img,
    div {
        transform: rotate(-790deg);
    }
}

.leaf10 {
    top: -32px;
    left: 392px;
    width: 80px;
    height: 80px;

    img,
    div {
        transform: rotate(-790deg);
    }
}

.leaf11 {
    top: -60px;
    left: 365px;
    width: 60px;
    height: 60px;
    transform: rotate(-50deg);
}


//Fruits
.fruits{
    /* div{
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
    } */
    
    .fruit-ver1 {
        background-image: url('../assets/images/mandarin_inset.png');
        transition: width 0.1s, height 0.1s;
    }
    
    .fruit-ver2 {
        background-image: url('../assets/images/persimmon_inset.png');
        transition: width 0.1s, height 0.1s;
    }

    .butterly {
        background-image: url('../assets/images/butterfly2.gif');
        transition: width 0.1s, height 0.1s;
    }
    
    .fruit {
        width: 100px;
        height: 100px;
        position: absolute;
        transform-origin: top;
        z-index: 2;
        background-size: cover;
        font-size: 32px;
    }
    
    .fruit1 {
        top: 15px;
        left: 370px;
        transform: rotate(-30deg);
        width: 50px;
        height: 50px;
    }
    .fruit2 {
        top: 70px;
        left: 354px;
        transform: rotate(-5deg);
        width: 70px;
        height:70px;
    }

    .animation {
        top: 200px;
        right: 310px;
        transform: rotate(-5deg);
        width: 200px;
        height:138px;
    }
    
}

