.tree {
    width: 70vw;
    max-width: 70vh;
    height: 70vw;
    max-height: 70vh;
    position: relative;
    /* left: 1200px; */
    top: -45%;
    transform: translate(-50%, -50%);
    will-change: transform;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;

    @media (min-width: 1000px) and (min-height: 768px) {
        top: -20%;
    }

    @media (min-width: 1000px) and (max-width: 1199px) {
        /* and (max-height: 768px) */
        /* and (min-height:540px) */
        left: 800px;
        top: -20%;
        transform: scale(0.8) translate(-50%, -50%);
    }

    @media (min-width: 1200px) and (max-width: 1399px) {
        /* and (max-height: 541px) and (min-height:760px) */
        left: 1000px;
        transform: scale(0.9) translate(-50%, -50%);
    }

    @media (min-width: 1400px) {
        left: 1200px;
    }

    @media (min-width: 1600px) {
        left: 1400px;
    }

    @media (min-width: 1800px) {
        left: 1600px;
    }
}

.trunk {
    /* width: 40px; */
    height: 640px;
    width: 640px;
    position: relative;
    z-index: 1;
    background-image: url('../assets/images/tree_5_compressed.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    /* margin-top: 150px; */
    /* transform: scale(.8); */
}

.leaves {
    /* background-color: red;
    height: 20px;
    transform: scale(.8);
    top: 0px;
    position: absolute;
    width: 100%;
    z-index: 11; */
}

.leaf {
    width: 100px;
    height: 100px;
    position: absolute;
    transform-origin: bottom center;
    z-index: 2;
    background-size: cover;
    background-repeat: no-repeat;
    mask-image: url('../assets/images/leaf1.png');
    mask-repeat: no-repeat;
    mask-size: cover;
    /* Or contain, depending on the desired fit */
    -webkit-mask-image: url('../assets/images/leaf1.png');
    /* For Safari */
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    font-size: 32px;

    &:hover {
        filter: hue-rotate(0Deg);
        cursor: pointer;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        font-size: 38px;
        -moz-box-shadow: 13px 13px 0px 0px #FFFFFF;
        -webkit-box-shadow: 13px 13px 0px 0px #FFFFFF;
        box-shadow: 13px 13px 0px 0px #FFFFFF;

        img {
            opacity: 1;
        }
    }

    &.ver2 {
        mask-image: url('../assets/images/leaf2.png');
        -webkit-mask-image: url('../assets/images/leaf2.png');
        /* For Safari */
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .45;


    }

    &.large {
        display: flex;
        justify-content: center;
        align-items: center;

        .text {
            position: absolute;
            z-index: 3;
            color: #fff;
            font-family: 'FingerPaint', sans-serif;
        }

    }
}

.mask-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/images/leaf1.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
    /* Ensure the mask overlay is on top */
    pointer-events: none;
    /* Ensure the overlay does not interfere with mouse events */
}

.ver1 {
    background-image: url('../assets/images/leaf1.png');
    transition: width 0.1s, height 0.1s;

    &.large:hover {
        width: 205px;
        height: 205px;
    }
}

.ver2 {
    background-image: url('../assets/images/leaf2.png');
    transition: width 0.1s, height 0.1s hi;

    &.large:hover {
        width: 225px;
        height: 225px;
    }
}

/* Individual leaves */
.leaf1 {
    top: 10px;
    left: 20px;
    transform: rotate(-10deg);

    /* Image for leaf 1 */
}

.leaf2 {
    top: -40px;
    left: 150px;
    transform: rotate(310deg);
    width: 100px;
    height: 100px;
}

.leaf3 {
    top: -35px;
    left: 250px;
    transform: rotate(-20deg);
}

.leaf4 {
    top: 135px;
    left: 490px;
    transform: rotate(375deg);
    width: 133px;
    height: 133px;
}

.leaf5 {
    top: 125px;
    left: -10px;
    transform: rotate(-35deg);
    width: 200px;
    height: 200px;
    filter: hue-rotate(288deg);

    img,
    div {
        transform: rotate(35deg);
    }
}

.leaf6 {
    top: 320px;
    left: 90px;
    transform: rotate(-5deg);
    width: 60px;
    height: 60px;
}

.leaf7 {
    top: 5px;
    left: 400px;
    transform: rotate(70deg);
    /* Image for leaf 1 */
}

.leaf8 {
    top: 20px;
    left: 230px;
    transform: rotate(340deg);
    width: 220px;
    height: 220px;
    filter: hue-rotate(68deg);

    img,
    div {
        transform: rotate(-340deg);
        width: 110%;
        height: 110%;
        margin-left: -20px;
        margin-top: -10px;
    }

    .text {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.leaf9 {
    top: 80px;
    left: 285px;
    transform: rotate(790deg);
    width: 200px;
    height: 200px;

    img,
    div {
        transform: rotate(-790deg);
    }
}